/* Base reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    @apply bg-blue-100 dark:bg-leveled-800 dark:text-white transition-colors duration-300 ease-in-out;
  }

  main {
    @apply m-12 
    /* lg */
    lg:ml-40 lg:mt-20 lg:mr-10
    /* xl */
    xl:ml-48 xl:mt-24 xl:mr-14
    ;
  }

  .vite {
    @apply from-yellow-400 from-30% via-pink-500 to-blue-300;
  }
  .tailwind {
    @apply from-white via-neon to-sky-500;
  } 
  .zustand {
    @apply from-white via-orange-500 to-amber-700;
  }
  .router {
    @apply from-lime-300 via-green-500 to-emerald-400;
  } 
  .three {
    @apply from-red-900 to-black to-80%;
  } 
  .framer {
    @apply from-cyan-300 via-pink-500 to-purple-900;
  }
  .dark-neon-shadow {
    text-shadow: 0 0 10px #00fff0, 0 0 20px #00fff0, 0 0 30px #00fff0;
  }
  .light-neon-shadow {
    text-shadow: 0 0 10px #c261a1, 0 0 20px #c261a1, 0 0 30px #c261a1;
  }

  .page-title {
    @apply text-white text-4xl font-bold mb-12 light-neon-shadow dark:dark-neon-shadow;
  }
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center my-2 bg-cyan-400 dark:bg-leveled-700 h-16 w-16 hover:bg-cyan-200 hover:dark:bg-leveled-500 rounded-3xl hover:rounded-xl active:scale-75 transition-all duration-300 ease-out cursor-pointer
    /* sm */
    sm:h-24 sm:w-24 sm:rounded-[2rem] sm:hover:rounded-2xl
    /* md */
    md:h-28 md:w-28 md:rounded-[2.5rem] md:hover:rounded-3xl
    /* lg */
    lg:h-28 lg:w-28 
    ;
  }

  .sidebar-tooltip {
    @apply absolute text-lg text-center bg-cyan-500 dark:bg-leveled-600 rounded-xl p-2 text-white shadow-md shadow-slate-800 dark:shadow-leveled-500 -top-16 font-bold transition-all duration-200 scale-0 origin-bottom
    /* lg */
    lg:top-auto lg:left-[8.5rem] lg:origin-left lg:text-2xl
    ;
  }

  .nav-svg {
    @apply fill-black dark:fill-sky-200  hover:scale-125 transition-all duration-200 ease-out cursor-pointer size-6
    /* sizes */
    /* sm */
    sm:size-9
    /* lg */
    lg:size-12
    ;
  }
  .dev-svg {
    @apply fill-black dark:fill-sky-200 hover:scale-125 transition-all duration-200 size-6
    /* Sizes */
    /* md */
    md:size-8
    ;
  }

  b {
    @apply dark:text-leveled-300;
  }
  .custom-list > li {
    @apply mb-6 md:mb-8 lg:mb-12 ;
  }
}