/* Typoraphy */
@font-face {
  font-family: "kiyotaka-handjet";
  src: url("./fonts/Handjet-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variables */
:root {
  --shocking-pink: #fb32b7;
  --dark-purple: #040308;
}

/* Default style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "kiyotaka-handjet", "Times New Roman", Times, serif;
}

/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .react { 
    @apply from-white via-indigo-500 to-orange-400 to-80%;
  }
  .tailwind {
    @apply from-white via-neon to-green-500;
  }
  .zustand {
    @apply from-white via-orange-500 to-amber-700;
  }
  .router {
    @apply from-white via-emerald-500 to-green-700;
  }
  .express {
    @apply from-white via-pink-500 to-red-700;
  }
  .three {
    @apply from-white via-red-500 to-orange-400;
  }
  .framer {
    @apply from-white via-pink-600 to-purple-600;
  }

  /* Nav styles */
  .nav-padding {
    @apply p-5 sm:p-6 2k:px-20 4k:px-24 2k:py-10 4k:py-12;
  }
  .portfolio-img {
    @apply h-12 xl:h-16 2k:h-20 4k:h-28 w-12 xl:w-16 2k:w-20 4k:w-28;
  }

  /* Text */
  .main-text {
    @apply font-semibold text-3xl s:text-4xl sm:text-5xl xl:text-6xl 2k:text-8xl 4k:text-9xl;
  }
  .sub-text {
    @apply text-xl s:text-2xl sm:text-3xl md:text-4xl 2k:text-7xl 4k:text-8xl lg:leading-[2.5rem];
  }
  .link-text {
    @apply text-2xl s:text-3xl sm:text-4xl xl:text-5xl 2k:text-7xl 4k:text-8xl;
  }
  .small-text {
    @apply text-lg s:text-xl sm:text-2xl md:text-3xl 2k:text-6xl 4k:text-7xl lg:leading-[2rem];
  }
}

/* CSS */
.neon-shadow {
  text-shadow: 0 0 10px #00fff0, 0 0 20px #00fff0, 0 0 30px #00fff0;
}

/* Timeline container */
.left-container {
  padding-right: 4rem;
}
.left-img {
  right: -1.75rem;
}
.left-arrow {
  right: -0.75rem;
}

/* Shared styles */
.left-img,
.right-img {
  top: 0.5rem;
}

.right-container {
  left: 50%;
  padding-left: 4rem;
}
.right-img {
  left: -1.75rem;
}
.right-arrow {
  left: -0.75rem;
}

@media (max-width: 1023px) {
  .left-container,
  .right-container {
    left: 0;
    padding: 1rem 0 0 4rem;
  }
  .left-img,
  .right-img {
    top: 1.5rem;
    left: -0.75rem;
  }
  .left-arrow,
  .right-arrow {
    left: -0.75rem;
  }
}

@media (min-width: 1280px) {
  .left-img {
    right: -2.2rem;
  }
  .right-img {
    left: -2.2rem;
  }
  .left-img,
  .right-img {
    top: 0.1rem;
  }
}

/* 2k devices */
@media (min-width: 2560px) {
  .left-container {
    padding-right: 6rem;
  }
  .left-img {
    right: -3.5rem;
  }
  .left-arrow {
    right: -1rem;
  }

  .right-container {
    padding-left: 6rem;
  }
  .right-img {
    left: -3.5rem;
  }
  .left-img,
  .right-img {
    top: 0.1rem;
  }
  .right-arrow {
    left: -1rem;
  }
}

/* 4k devices */
@media (min-width: 3840px) {
  .left-container {
    padding-right: 10rem;
  }
  .left-img {
    right: -5rem;
  }
  .left-arrow {
    right: -2rem;
  }

  .right-container {
    padding-left: 10rem;
  }
  .right-img {
    left: -5rem;
  }
  .left-img,
  .right-img {
    top: 0.4rem;
  }
  .right-arrow {
    left: -2rem;
  }
}

::selection {
  background-color: var(--shocking-pink);
  color: var(--leveled-950);
}
