:root {
  --BACK-COLOR: #1a0f24;
  --CARD-COLOR: #2d1537;
  --CARD-COLOR2: #4b1e52;
  --CARD-COLOR3: #6f2f6f;
  --NEON-COLOR: #00FFF0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  font-size: 1.1rem;
}

body {
  background-color: var(--BACK-COLOR);
}

.user-container {
  margin: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.user-card {
  background: linear-gradient(
    135deg,
    var(--CARD-COLOR3) 0%,
    var(--CARD-COLOR) 60%
  );
  display: flex;
  max-width: 50%;
  padding: 1.4rem 1.6rem;
  border-radius: 1.2rem;
  margin: 1.2rem 0;
  transition: transform 0.5s;
}
.user-card:hover {
  transform: scale(1.02);
}
.user-card-img {
  width: 15rem;
  height: auto;
  border-radius: 1.8rem;
}
.user-info {
  margin: 2rem 4rem;
}

.highlights {
  color: var(--NEON-COLOR);
  font-weight: 700;
}
